
.menu-vbox {
    -fx-background-image: url("image/menu_background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.login-background {
    -fx-background-image: url("image/login_background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.module-background {
    -fx-background-image: url("image/module_background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.full-background {
    -fx-background-image: url("image/full_background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.header-label {
    -fx-text-fill: white;
}


@font-face {
    font-family: 'CenturyGothicCustom';
    src: url('fonts/GOTHIC.TTF');
}

@font-face {
    font-family: 'CenturyGothicCustom';
    src: url('fonts/GOTHICB.TTF');
    font-weight: bold;
}

/* Títulos y Etiquetas */
.titulo-principal {
    -fx-font-family: 'CenturyGothicCustom';
    -fx-font-size: 36pt;
    -fx-font-weight: bold;
}

.label-formulario {
    -fx-font-family: 'CenturyGothicCustom';
    -fx-font-size: 14pt;
    -fx-font-weight: bold;

}

.button-crud {
    -fx-font-family: 'CenturyGothicCustom';
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}


/* 3.1. Clase Base para Botones del Menú (Asegura tipografía y cursor) */
.menu-button {
    -fx-font-family: 'Century Gothic Bold'; /* Usa la fuente Bold que ya tenías referenciada */
    -fx-font-size: 18.0;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0); /* Sombra suave */
    -fx-transition: 0.2s;
}

.menu-button:hover {
    /* Efecto de iluminación visible para que se note en todos los colores */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.7), 15, 0, 0, 0);
    -fx-base: derive(-fx-base, 15%);
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}


.menu-button-blue { -fx-base: #2980b9; }      /* Pacientes */
.menu-button-green { -fx-base: #27ae60; }     /* Personal */
.menu-button-orange { -fx-base: #f39c12; }    /* Direcciones */
.menu-button-red { -fx-base: #e74c3c; }       /* Facturas */
.menu-button-purple { -fx-base: #9b59b6; }    /* Ítems Factura */
.menu-button-cyan { -fx-base: #1abc9c; }      /* Estancias */
.menu-button-yellow { -fx-base: #f1c40f; }    /* Componentes */
.menu-button-dark { -fx-base: #34495e; }      /* Historial de Direcciones */